/node_modules
/oh_modules
/.preview
/build
/.cxx
/.test
**/IDL_Dependencies_List~
**/build-script-cache
/libs
cjpm.lock
BuildProfile.ets
/src/main/cangjie/ark_interop_api
src/main/cangjie/build-script-cache
/src/main/cangjie/types
src/main/cangjie/IDL_Custom_Type_Whitelist~