/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
*.macrocall
cjpm.lock
target/
.vscode
.cache
oh-package-lock.json5
ci_test
test_temp
entry/libs/markdown/src/*
entry/src/main/markdowndatatest/src/*
markdown/BuildProfile.ets
entry/BuildProfile.ets
/.appanalyzer
**/cj_res
**/*.cj.macrocall
temp
tmp
**/mdtest/src
**/ability_mainability_entry.cj
**/module_**_entry.cj
code-linter.json5
log.txt
**/IDL_Dependencies_List~
**/build-script-cache
/stdx_bin